@model List<Barayand.Models.Entity.ProductModel>
@{
    var AllBrands = (List<Barayand.Models.Entity.BrandModel>)ViewBag.Brands;

}
<input type="hidden" id="typevalue" value="@ViewBag.type" />
<input type="hidden" id="productid" value="@ViewBag.id" />
<div class="loading">
    <div class="boxLoading">
        <i class="logo" style="background-image: url(/dist/img/logo.png);"></i>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<div class="contentMain">
    <div class="container">
        <div class="BoxBreads">
            <div class="breadcrumbs">
                <a href="/" class="breadc fas fa-chevron-left">خانه</a>
                <a href="#" class="breadc fas fa-chevron-left"> محصولات</a>
            </div>
            <a href="#">PRODUCTS</a>
        </div>

        <section class="secProductList">
            <div class="ContentListProducts">
                <div class="col1">
                    <div class="FilterBox">
                        <a href="#" class="boxADS">
                            <img src="/dist/img/listprod-ads-1.jpg" alt="عنوان تبلیغ">
                        </a>
                        <div class="accordion activeEvery">
                            <div class="titleAccordion">
                                <label>فیلتر های اعمال شده: </label> <small class="remove"
                                                                            onclick="removeAllFilter()">حذف</small>
                            </div>
                            <div class="contentAccordion">
                                <div class="BoxesFilterSelected">

                                </div>
                            </div>
                        </div>

                        <div class="accordion active">
                            <div class="titleAccordion">
                                <label>جستجو در نتایج: </label> <span class="fas fa-chevron-down"></span>
                            </div>
                            <div class="contentAccordion">
                                <div class="boxSearchAll">
                                    <input id="ProductTitle" type="text" class="inputSearchProduct" onkeyup="FilterNameMore()" placeholder="نام محصول">
                                </div>
                            </div>
                        </div>


                        <div class="accordion active">
                            <div class="titleAccordion">
                                <label>برند</label> <span class="fas fa-chevron-down"></span>
                            </div>
                            <div class="contentAccordion">
                                <div class="categoriesProduct">
                                    <span class="parentCatProd">
                                        <i class="openparent fal fa-chevron-left"></i>
                                        <a href="#" class="linkcat">پزشکی</a>
                                        <span class="childCatProd">
                                            <i class="openchild fal fa-chevron-left"></i>
                                            <a href="#" class="linkcat">جراحی</a>
                                            <span class="childChildCatProd">
                                                <i class="openchildchild fal fa-chevron-left"></i>
                                                <a href="#" class="linkcat">ویدئو</a>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="parentCatProd">
                                        <i class="openparent fal fa-chevron-left"></i>
                                        <a href="#" class="linkcat">علمی مهندسی</a>
                                    </span>
                                    <span class="parentCatProd">
                                        <i class="openparent fal fa-chevron-left"></i>
                                        <a href="#" class="linkcat">مدیا پزشکی</a>
                                    </span>
                                    <span class="parentCatProd">
                                        <i class="openparent fal fa-chevron-left"></i>
                                        <a href="#" class="linkcat">هنری</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion active">
                            <div class="titleAccordion">
                                <label>برند</label> <span class="fas fa-chevron-down"></span>
                            </div>
                            <div class="contentAccordion">
                                <input type="text" class="searchFilterBrand" placeholder="جستجوی نام برند">
                                <div class="BoxCheck resultSearchCheckbox">
                                    @foreach (var item in AllBrands)
                                    {
                                        <div class="checkboxs">
                                            <input type="checkbox" value="@item.B_Id" id="sq@(item.B_Id)" name="brand" tabindex="3" onchange="FilterSearch()">
                                            <label for="sq@(item.B_Id)" class="lblinput">
                                                <span>@item.B_Title</span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="cardFilter">
                            <div class="buttonOnOff">
                                <input type="checkbox" name="immediatesending" class="immediatesending" id="immediatesending" onchange="Moreproductsearch()">
                                <label for="is1">
                                    <i></i>
                                    <span>فقط ارسال فوری</span>
                                </label>
                            </div>
                        </div>
                        <div class="cardFilter">
                            <div class="buttonOnOff">
                                <input type="checkbox" name="isAvilable" class="isAvilable" id="isAvilable" onchange="Moreproductsearch()">
                                <label for="isAvilable">
                                    <i></i>
                                    <span>فقط کالاهای موجود</span>
                                </label>
                            </div>
                        </div>
                        <div class="accordion ">
                            <div class="titleAccordion">
                                <label>محدوده قیمت مورد نظر</label> <span class="fas fa-chevron-down"></span>
                            </div>
                            <div class="contentAccordion">
                                <div class="ContentRangePrice">
                                    <div class="showRagePrice" data-rtl="1" data-start="0" data-end="@(ViewBag.MaxPrice+1)"
                                         data-min="@ViewBag.Minprice" data-max="@(ViewBag.MaxPrice+1)" data-step="1000">
                                        <div class="box-sliderrange">
                                            <label>تا</label>
                                            <input type="text" id="input-with-keypress-1" data-type="rageSlider"
                                                   disabled="">
                                            <span>تومان</span>
                                        </div>
                                        <div class="box-sliderrange">
                                            <label>از</label>
                                            <input type="text" id="input-with-keypress-0" data-type="rageSlider"
                                                   disabled="">
                                            <span>تومان</span>
                                        </div>
                                    </div>
                                    <div id="steps-slider"></div>
                                    <div class="SubmitFilter">
                                        <button type="button" onclick="Moreproductsearch(true);" class="btnsubmitFillter">اعمال محدودیت قیمت</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="#" class="boxADS">
                            <img src="/dist/img/listprod-ads-2.jpg" alt="عنوان تبلیغ 2">
                        </a>
                    </div>
                </div>
                <div class="col2">
                    <div class="cardProductList">
                        <div class="sortProdList">
                            <label class="sortLabel">
                                مرتب سازی بر اساس :
                            </label>
                            <span class="itemSort" onclick="FilterOrderMore(1)">پربازدیدترین</span>
                            <span class="itemSort" onclick="FilterOrderMore(2)">پرفروشترین </span>
                            <span class="itemSort" onclick="FilterOrderMore(3)">محبوبترین</span>
                            <span class="itemSort" onclick="FilterOrderMore(4)">جدیدترین</span>
                            <span class="itemSort" onclick="FilterOrderMore(5)">ارزانترین</span>
                            <span class="itemSort" onclick="FilterOrderMore(6)">گرانترین</span>
                            <span class="itemSort" onclick="FilterOrderMore(7)">سریعترین ارسال</span>
                            <span class="itemSort" onclick="FilterOrderMore(8)">بهترین فرصت</span>
                        </div>
                        <div id="listmoredproduct">
                            @await Html.PartialAsync("_morelist.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="HelpSale">
            <div class="card">
                <h3 class="titleCard">
                    <label>راهنمای خرید مطمئن</label>
                </h3>
                <div class="contentCard">
                    <div class="textMore">
                        پس از تجربه‌ی فوق‌العاده‌‌‌ی گلکسی نوت 10، اکنون با سطح انتظار بالاتری به‌سراغ گلکسی نوت 20
                        و گلکسی نوت 20 اولترا، جدیدترین پرچم‌داران قلم‌محور سامسونگ می‌رویم.
                        احتمالا داستان گوشی‌های گلکسی نوت را بارها شنیده‌اید؛ سامسونگ نزدیک به 9 سال پیش، در جریان
                        مراسم IFA 2011، در شرایطی که بخش اعظمی از بازار گوشی‌های اندرویدی را دراختیار نداشت، با
                        حرکتی جسورانه نخستین مدل از سری گوشی‌های گلکسی نوت را معرفی کرد. در آن زمان اکثر گوشی‌ها از
                        نمایشگرهایی با ابعاد حداکثر 4 اینچ استفاده می‌کردند؛ اما مدل نخست نوت، با نمایشگری 5٫3 اینچی
                        وارد بازار شد. گلکسی نوت برای سنجش بازخورد کاربران به نمایشگرهای بزرگ عرضه شده بود و فروش یک
                        میلیون دستگاه در دو ماه اول، سامسونگ را مجاب کرد که هر سال مدل جدیدی را عرضه کند. در کمتر از
                        یک سال، فروش گلکسی نوت به 10 میلیون دستگاه رسید.حال نزدیک به 9 سال بعد و در شرایطی که
                        سامسونگ تمام آزمون‌وخطاهای ممکن را روی سری نوت پیاده کرده است، به جایی رسیده‌ایم که گلکسی
                        نوت یکی از بالغ‌ترین خانواده‌های دنیای گوشی‌های پرچم‌دار به‌شمار می‌آید.
                        امسال ویروس کرونا تمام شرکت‌ها را مجبور کرد تا از گوشی‌های جدیدشان در رویدادهای آنلاین
                        رونمایی کنند. سامسونگ هم به ناچار روند مشابهی را پیش گرفت و درکنار تبلت‌ها و ساعت‌های جدیدش،
                        سری جدید گلکسی نوت را در دو مدل گلکسی نوت 20 و گلکسی نوت 20 اولترا معرفی کرد.
                        پسوند «اولترا» که با خانواده‌ی گلکسی S20 به گوشی‌های سامسونگ اضافه شد به مدل‌های ممتازی
                        اشاره می‌کند که سرآمد تمام محصولات این شرکت هستند. گلکسی نوت 20 اولترا شباهت‌های بسیاری به
                        گلکسی اس 20 اولترا دارد و برپایه‌ی همان گوشی ساخته شده است. مدل‌های اولترا قابلیت‌های
                        ویژه‌ای ارائه می‌دهند که معمولا با محصولات دیگر سامسونگ دردسترس نیستند؛ البته این امکانات و
                        قابلیت‌ها به کره‌ای‌ها اجازه می‌دهد که برای مدل‌‌های اولترا برچسب قیمتی نجومی درنظر بگیرد.
                        <span class="more fal fa-chevron-down">مشاهده بیشتر</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="secCheapStore">
            <a href="#" class="itemCheapStoreADS" style="background-image: url(/dist/img/CheapStoreADS.jpg);">
                <img src="/dist/img/CheapStoreADS.jpg" alt="آرزانسرای هومکیتور">
            </a>
        </section>
        <section class="windowProd">
            <div class="col1">
                <a href="#" class="itemWinProduct" style="background-image: url(dist/img/b1.jpg);">
                    <img src="/dist/img/b1.jpg" alt="عنوان تصویر">
                </a>
                <a href="#" class="itemWinProduct" style="background-image: url(dist/img/b2.jpg);">
                    <img src="/dist/img/b2.jpg" alt="عنوان تصویر">
                </a>
            </div>
            <div class="col2">

                <a href="#" class="itemWinProduct" style="background-image: url(dist/img/b3.jpg);">
                    <img src="/dist/img/b3.jpg" alt="عنوان تصویر">
                </a>

                <a href="#" class="itemWinProduct" style="background-image: url(dist/img/b4.jpg);">
                    <img src="/dist/img/b4.jpg" alt="عنوان تصویر">
                </a>
            </div>
        </section>
        <section class="sliderListProd">

            <div class="SliderSingle swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="sliderListProd" style="background-image: url(/dist/img/slide-1.jpg);"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="sliderListProd" style="background-image: url(/dist/img/slide-2.jpg);"></a>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="NextPrevSlider">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="lightBoxADS" data-img="/dist/img/lightbox-test.png" data-link="http://google.com"></div>
