@model IEnumerable<Barayand.Models.Entity.NoticesModel>

@{
    Layout = null;
    var AllCategory = (List<Barayand.Models.Entity.NoticesCategoryModel>)ViewBag.Category;
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Kito</title>
    <link rel="stylesheet" href="/dist/css/styleNews.css">
    <link rel="stylesheet" href="/dist/css/responsiveNews.css">
</head>

<body class="news">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logoRight"></a>
            <div class="MenuTop">
                <div class="Menu">
                    @foreach (var item in AllCategory.Take(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
                <a href="/" class="logoCenter"></a>
                <div class="Menu">
                    @foreach (var item in AllCategory.Skip(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
            </div>
            <a href="#" class="Announcements">اطلاعیه ها</a>
            <span class="showSidebar fas fa-bars"></span>
        </div>
    </nav>
    <div class="contentMain">
        <div class="NewstNews subgroup">
            <div class="container">
                <h3 class="titleCard">
                    <label>جدیدترین مطالب</label>
                </h3>
                <div class="slider5 arrowCustom swiper-container">
                    <div class="swiper-wrapper">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model.Take(15))
                            {
                                <div class="swiper-slide">
                                    <div class="itemNewest">
                                        <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                            <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image"
                                                 alt="@item.N_Title">
                                        </div>
                                        <div class="text">
                                            @item.N_Title
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="NextPrevSlider">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="secQA">
            <div class="container">
                <div class="QuickAccessNews">
                    <div class="side">
                        <div class="card">
                            <div class="tabBtns small">
                                <button class="btntab active" data-tab="tab3">پربازدید ترین</button>
                                <button class="btntab" data-tab="tab4">محبوبترین</button>
                            </div>
                            <div class="contentCard">
                                <div class="showTabsContent small">
                                    <div class="tabContent active" data-tab="tab3">
                                        @if (Model != null && Model.Any())
                                        {
                                            foreach (var item in Model.Take(8))
                                            {
                                                <div class="itemNotifyNews">
                                                    <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverlink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                    </div>
                                                    <div class="text">
                                                        @item.N_Title
                                                        <a href="#" class="moreSmallNews">مشاهده</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="tabContent" data-tab="tab4">
                                        @if (Model != null && Model.Any())
                                        {
                                            foreach (var item in Model.Take(8))
                                            {
                                                <div class="itemNotifyNews">
                                                    <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverlink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                    </div>
                                                    <div class="text">
                                                        @item.N_Title
                                                        <a href="#" class="moreSmallNews">مشاهده</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="card">
                            <h3 class="titleCard">
                                <label>سایر خبرها</label>
                                <a href="#" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div class="QAItemsNews">
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model.Take(4))
                                        {
                                            <div class="QAitemNews">
                                                <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                    <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                </div>
                                                <h2 class="title">
                                                    @item.N_Title
                                                    <span class="dateTime fas fa-calendar-alt">@item.Created_At</span>
                                                </h2>
                                                <div class="text">
                                                    @item.N_Summary
                                                </div>
                                                <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="showMoreNews">
                                                    <span>مشاهده</span>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <div class="AboutFooter">
            <div class="container">
                <h3 class="title">فروشگاه هومکیتو</h3>
                <div class="text">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                    ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                    متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
                    فرهنگ پیشرو در زبان فارسی ایجاد کرد.کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                    خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                    باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                    با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد.
                </div>
                <div class="LogosCertificate">
                    <div class="LogoCer">
                        <img src="dist/img/logoSamandehi.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="dist/img/LogoEnamad.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="dist/img/LogoSenf.png" alt="">
                    </div>
                </div>
                <div class="socialIcons">
                    <a href="#" target="_blank" class="socicon fab fa-telegram"></a>
                    <a href="#" target="_blank" class="socicon fab fa-instagram"></a>
                    <a href="#" target="_blank" class="socicon fab fa-facebook"></a>
                    <a href="#" target="_blank" class="socicon fab fa-twitter"></a>
                    <a href="#" target="_blank" class="socicon fab fa-youtube"></a>
                    <a href="#" target="_blank" class="socicon fab fa-whatsapp"></a>
                </div>
            </div>
            <div class="helpDeskFooter">
                <div class="container">
                    <div class="col">
                        <a href="#" class="linkheldesk icon1">همکاری با ما</a>
                        <a href="#" class="linkheldesk icon2">تماس با ما </a>
                        <a href="#" class="linkheldesk icon3">شرایط استفاده</a>
                        <a href="#" class="linkheldesk icon4">حریم خصوصی</a>
                    </div>
                    <div class="col">
                        <a href="#" class="linkheldesk icon5">راهنمای عضویت</a>
                        <a href="#" class="linkheldesk icon6">راهنمای خرید</a>
                        <a href="#" class="linkheldesk icon7">راهنمای مرجوعی</a>
                        <a href="#" class="linkheldesk icon8">سوالات متداول</a>
                    </div>
                </div>
            </div>

            <div class="BrandFooter swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/1.png);">
                            <img src="dist/img/brands/1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/2.png);">
                            <img src="dist/img/brands/2.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/3.png);">
                            <img src="dist/img/brands/3.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/4.png);">
                            <img src="dist/img/brands/4.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/5.png);">
                            <img src="dist/img/brands/5.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/1.png);">
                            <img src="dist/img/brands/1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/2.png);">
                            <img src="dist/img/brands/2.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="NextPrevSlider">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <span>© 2020 “HomeKito” All Right Reserved</span>
        </div>
    </footer>
    <div class="lightBoxADS" data-img="/dist/img/lightbox-test.png" data-link="http://google.com"></div>
    <script src="/dist/js/jquery-3.2.1.min.js"></script>
    <script src="/dist/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/dist/js/hrb_notify.js"></script>
    <script src="/dist/js/fivestar.js"></script>
    <script src="/dist/js/swiper.js"></script>
    <script src="/dist/js/script.js"></script>
</body>
</html>