@model Barayand.Models.Entity.NoticesModel
@{
    Layout = null;
    var AllCategory = (List<Barayand.Models.Entity.NoticesCategoryModel>)ViewBag.Category;
    var RoutCategory = (Barayand.Models.Entity.NoticesCategoryModel)ViewBag.catroute;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Kito</title>
    <link rel="stylesheet" href="/dist/css/styleNews.css">
    <link rel="stylesheet" href="/dist/css/responsiveNews.css">
</head>
<body class="news">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logoRight"></a>
            <div class="MenuTop">
                <div class="Menu">
                    @foreach (var item in AllCategory.Take(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
                <a href="/" class="logoCenter"></a>
                <div class="Menu">
                    @foreach (var item in AllCategory.Skip(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
            </div>
            <a href="#" class="Announcements">اطلاعیه ها</a>
            <span class="showSidebar fas fa-bars"></span>
        </div>
    </nav>
    <div class="contentMain andHeader">
        <header class="headerNews" style="background-image: url(/dist/img/headerNews.jpg);"></header>
        <div class="container">
            <div class="BoxBreads">
                <div class="breadcrumbs">
                    <a href="/" class="breadc fas fa-chevron-left">خانه</a>
                    <a href="/Blog" class="breadc fas fa-chevron-left">بلاگ</a>
                    <a href="/Blog/Cat/@RoutCategory.NC_Id/@RoutCategory.NC_SeoUrl" class="breadc fas fa-chevron-left">@RoutCategory.NC_Title</a>
                    <a href="/Blog/Detail/@Model.N_Id/@Model.N_Title" class="breadc fas fa-chevron-left">@Model.N_Title</a>
                </div>
                <a href="#">News Details</a>
            </div>
            <section class="SliderNewsDetail">

                <div class="SliderOneNews swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="itemNewsDetailSlide">
                                <a href="#" class="hoverlink"></a>
                                <div class="pic" style="background-image: url(dist/img/newsDetSlide.jpg);">
                                    <img src="/dist/img/newsDetSlide.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3 class="title">
                                        بررسی گلکسی نوت 20 و گلکسی نوت 20 اولترا سامسونگ
                                    </h3>
                                    <span>
                                        زوم، مانند بسیاری از دیگر ویژگی‌های دوربین، کمی پیچیده‌تر از آن چیزی است که در
                                        تبلیغات شرکت‌ها مطرح می‌شود. برخی کاربران ناآشنا به تکنولوژی فقط با عباراتی
                                        مانند زوم 10،50 یا حتی 100 برابری روبه‌رو می‌شوند بدون اینکه از جزئیات چنین
                                        مشخصه‌ای خبردار شوند. به همین خاطر در این مطلب قصد داریم به تشریح تفاوت‌های بین
                                        زوم دیجیتال و زوم اپتیکال بپردازیم.زوم، مانند بسیاری......
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="itemNewsDetailSlide">
                                <a href="#" class="hoverlink"></a>
                                <div class="pic" style="background-image: url(dist/img/newsDetSlide.jpg);">
                                    <img src="dist/img/newsDetSlide.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3 class="title">
                                        بررسی گلکسی نوت 20 و گلکسی نوت 20 اولترا سامسونگ
                                    </h3>
                                    <span>
                                        زوم، مانند بسیاری از دیگر ویژگی‌های دوربین، کمی پیچیده‌تر از آن چیزی است که در
                                        تبلیغات شرکت‌ها مطرح می‌شود. برخی کاربران ناآشنا به تکنولوژی فقط با عباراتی
                                        مانند زوم 10،50 یا حتی 100 برابری روبه‌رو می‌شوند بدون اینکه از جزئیات چنین
                                        مشخصه‌ای خبردار شوند. به همین خاطر در این مطلب قصد داریم به تشریح تفاوت‌های بین
                                        زوم دیجیتال و زوم اپتیکال بپردازیم.زوم، مانند بسیاری......
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="itemNewsDetailSlide">
                                <a href="#" class="hoverlink"></a>
                                <div class="pic" style="background-image: url(dist/img/newsDetSlide.jpg);">
                                    <img src="dist/img/newsDetSlide.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3 class="title">
                                        بررسی گلکسی نوت 20 و گلکسی نوت 20 اولترا سامسونگ
                                    </h3>
                                    <span>
                                        زوم، مانند بسیاری از دیگر ویژگی‌های دوربین، کمی پیچیده‌تر از آن چیزی است که در
                                        تبلیغات شرکت‌ها مطرح می‌شود. برخی کاربران ناآشنا به تکنولوژی فقط با عباراتی
                                        مانند زوم 10،50 یا حتی 100 برابری روبه‌رو می‌شوند بدون اینکه از جزئیات چنین
                                        مشخصه‌ای خبردار شوند. به همین خاطر در این مطلب قصد داریم به تشریح تفاوت‌های بین
                                        زوم دیجیتال و زوم اپتیکال بپردازیم.زوم، مانند بسیاری......
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="itemNewsDetailSlide">
                                <a href="#" class="hoverlink"></a>
                                <div class="pic" style="background-image: url(dist/img/newsDetSlide.jpg);">
                                    <img src="dist/img/newsDetSlide.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3 class="title">
                                        بررسی گلکسی نوت 20 و گلکسی نوت 20 اولترا سامسونگ
                                    </h3>
                                    <span>
                                        زوم، مانند بسیاری از دیگر ویژگی‌های دوربین، کمی پیچیده‌تر از آن چیزی است که در
                                        تبلیغات شرکت‌ها مطرح می‌شود. برخی کاربران ناآشنا به تکنولوژی فقط با عباراتی
                                        مانند زوم 10،50 یا حتی 100 برابری روبه‌رو می‌شوند بدون اینکه از جزئیات چنین
                                        مشخصه‌ای خبردار شوند. به همین خاطر در این مطلب قصد داریم به تشریح تفاوت‌های بین
                                        زوم دیجیتال و زوم اپتیکال بپردازیم.زوم، مانند بسیاری......
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="itemNewsDetailSlide">
                                <a href="#" class="hoverlink"></a>
                                <div class="pic" style="background-image: url(dist/img/newsDetSlide.jpg);">
                                    <img src="dist/img/newsDetSlide.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h3 class="title">
                                        بررسی گلکسی نوت 20 و گلکسی نوت 20 اولترا سامسونگ
                                    </h3>
                                    <span>
                                        زوم، مانند بسیاری از دیگر ویژگی‌های دوربین، کمی پیچیده‌تر از آن چیزی است که در
                                        تبلیغات شرکت‌ها مطرح می‌شود. برخی کاربران ناآشنا به تکنولوژی فقط با عباراتی
                                        مانند زوم 10،50 یا حتی 100 برابری روبه‌رو می‌شوند بدون اینکه از جزئیات چنین
                                        مشخصه‌ای خبردار شوند. به همین خاطر در این مطلب قصد داریم به تشریح تفاوت‌های بین
                                        زوم دیجیتال و زوم اپتیکال بپردازیم.زوم، مانند بسیاری......
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="NextPrevSlider">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </section>

            <div class="textContent">
@Model.N_Content
            </div>

            <section class="VideoCm">
                <div class="card">
                    <div class="contentCard flexDir">

                        <h3 class="titleCard center">
                            <label> ویدئوی خبر </label>
                        </h3>
                        <div class="videoProduct">
                            <div class="h_iframe-aparat_embed_frame">
                                <span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/xshnA/vt/frame"
                                                                                             allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
                                                                                             style="pointer-events: auto;"></iframe>
                            </div>
                        </div>

                        <h3 class="titleCard center">
                            <label> نظرات کاربران </label>
                        </h3>
                        <div class="showCM">
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                            <div class="itemCM">
                                <div class="colAvatar">
                                    <span class="cmAvatar" style="background-image: url(dist/img/avatarCM.png);"></span>
                                </div>
                                <div class="colText">
                                    <h3 class="nameUserCM">حمیدرضا بیگلری</h3>
                                    <span class="Created_at">18 اسفند 1369 ساعت 21:15</span>
                                    <div class="ContextCM">
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                        متن متن متن متن
                                        متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="titleCard center">
                            <label> ارسال نظر </label>
                        </h3>

                        <div class="SendCM ContactUsForm">
                            <div class="ContentFormCM">
                                <div class="boxInput">
                                    <input type="text" placeholder="نام و نام خانوادگی">
                                </div>
                                <div class="boxInput">
                                    <input type="text" placeholder="شماره تلفن">
                                </div>
                                <div class="boxInput">
                                    <input type="text" placeholder="ایمیل">
                                </div>
                                <div class="boxInput full">
                                    <textarea placeholder="متن نظر"></textarea>
                                </div>
                                <div class="RowButton center">
                                    <button class="inputFrm btnsend bg-primary">ارسال نظر</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <h3 class="titleCard ">
                        <label> اخبار مرتبط </label>
                    </h3>
                    <div class="contentCard flexDir">

                        <div class="slider5 arrowCustom swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="itemrelatedNews">
                                        <a href="#" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(dist/img/newst-news.jpg);">
                                            <img src="dist/img/newst-news.jpg"
                                                 alt="3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد">
                                        </div>
                                        <div class="text">
                                            3 ساله شدن آپدیت اندروید گوشی‌های سامسونگ انتظارات را بالا می‌برد

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="NextPrevSlider">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="AboutFooter">
            <div class="container">
                <h3 class="title">فروشگاه هومکیتو</h3>
                <div class="text">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                    ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                    متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و
                    فرهنگ پیشرو در زبان فارسی ایجاد کرد.کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                    خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                    باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                    با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد.
                </div>
                <div class="LogosCertificate">
                    <div class="LogoCer">
                        <img src="dist/img/logoSamandehi.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="dist/img/LogoEnamad.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="dist/img/LogoSenf.png" alt="">
                    </div>
                </div>
                <div class="socialIcons">
                    <a href="#" target="_blank" class="socicon fab fa-telegram"></a>
                    <a href="#" target="_blank" class="socicon fab fa-instagram"></a>
                    <a href="#" target="_blank" class="socicon fab fa-facebook"></a>
                    <a href="#" target="_blank" class="socicon fab fa-twitter"></a>
                    <a href="#" target="_blank" class="socicon fab fa-youtube"></a>
                    <a href="#" target="_blank" class="socicon fab fa-whatsapp"></a>
                </div>
            </div>
            <div class="helpDeskFooter">
                <div class="container">
                    <div class="col">
                        <a href="#" class="linkheldesk icon1">همکاری با ما</a>
                        <a href="#" class="linkheldesk icon2">تماس با ما </a>
                        <a href="#" class="linkheldesk icon3">شرایط استفاده</a>
                        <a href="#" class="linkheldesk icon4">حریم خصوصی</a>
                    </div>
                    <div class="col">
                        <a href="#" class="linkheldesk icon5">راهنمای عضویت</a>
                        <a href="#" class="linkheldesk icon6">راهنمای خرید</a>
                        <a href="#" class="linkheldesk icon7">راهنمای مرجوعی</a>
                        <a href="#" class="linkheldesk icon8">سوالات متداول</a>
                    </div>
                </div>
            </div>

            <div class="BrandFooter swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/1.png);">
                            <img src="dist/img/brands/1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/2.png);">
                            <img src="dist/img/brands/2.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/3.png);">
                            <img src="dist/img/brands/3.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/4.png);">
                            <img src="dist/img/brands/4.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/5.png);">
                            <img src="dist/img/brands/5.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/1.png);">
                            <img src="dist/img/brands/1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="ItemBrandFooter" style="background-image: url(dist/img/brands/2.png);">
                            <img src="dist/img/brands/2.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="NextPrevSlider">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <span>© 2020 “HomeKito” All Right Reserved</span>
        </div>
    </footer>
    <div class="lightBoxADS" data-img="dist/img/lightbox-test.png" data-link="http://google.com"></div>

    <script src="/dist/js/jquery-3.2.1.min.js"></script>
    <script src="/dist/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/dist/js/hrb_notify.js"></script>
    <script src="/dist/js/fivestar.js"></script>
    <script src="/dist/js/swiper.js"></script>
    <script src="/dist/js/script.js"></script>
</body>
</html>
